.App {
  text-align: center;
}

body {
  background-color: #009c1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
}

.board:nth-last-child(1) {
  border: 2px white;
  border-style: none none solid none;
}

.tile {
  width: 80px;
  height: 80px;
  border: 2px white;
  border-style: solid none none solid;
}

.tile:nth-last-child(1) {
  border: 2px white;
  border-style: solid solid none solid;
}
